@import '../../../../styles/base/_component-manifest.scss';

.error-message {
  display: flex;
  margin: 0 auto;

  &__error-text {
    display: inline-flex;
    align-items: center;
    font-size: rem(22px);
    color: rgba($color: #000000, $alpha: 0.9);
    font-weight: $font-weight-regular;
    text-align: center;
  }
}
