// mixing to add text trunck
@mixin add-text-ellipsis {
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($qm-device-breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($qm-device-breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($qm-device-breakpoints)}.";
  }
}

$xs-width: map-get($qm-device-breakpoints, xs-width );

@mixin qm-xs-lower {
  @media (max-width: #{$xs-width}) {
    @content;
  }
}
